@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+KR:wght@400;500;700&display=swap');

*{margin:0; padding:0; box-sizing:border-box;}
a{text-decoration:none; color:inherit;}
ul{list-style:none;}

body{
    font-family:'Gowun Dodum', sans-serif;
    font-weight:bold;
    letter-spacing:1.5px;
    line-height:1.6;
    user-select:none;
    color:var(--color3);
    background-color:var(--color1);
}
